<div class="container p-5">
<div class="row mt-5">
    <div class="col">
    <img src="assets/img/cavalii.png" width="400" >
    </div>
    <div class="col  mt-5 p-5">
        <h3>Sobre nosotros</h3> 
    <p>Joya Juvenil es una tienda de bisutería online. Todos nuestros 
        productos son elaborados en plata esterlina y acero inoxidable, lo que los hace resistentes
            y perfectos para acompañarte en todos tus planes, además de darle un toque chic a tu outfit.</p>
            <a class="btn btn-outline-secondary mt-5 col-6" [routerLink]="['/catalogo']"  >Visita nuestro catálogo</a>
      
        </div>
        
</div>
</div>
